In [4]:
import pandas as pd
df_food = pd.read_csv("foodbalancesheets_e_africa_noflag - Sheet1 (1).csv")
df_food

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [21]:
#What is the total Protein supply quantity in Madagascar in 2015?

grp_food = df_food.groupby("Area").get_group("Madagascar") #Selecting Madagascar from the chunks of Areas
print("List of Madagascar are :", grp_food)
sup_prot = grp_food.groupby("Element")["Y2015"].sum() #selecting the column of interest which is the Y2015 and grouping with Element which contains the protein supplied
print("")
print("Element sum list for Y2015 :")
sup_prot

List of Madagascar are :        Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

Element sum list for Y2015 :

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [32]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

YH2017 = df_food.groupby("Area")["Y2017"].sum()
print("The Highest is :", YH2017.max()) #print the Highest Value
print(YH2017 == 1483268.23 ) #returns only the True Value
print("The Country with the highest is :", YH2017[YH2017 == 1483268.23] ) # Display only the True Value

The Highest is : 1483268.23
Area
Algeria                        False
Angola                         False
Benin                          False
Botswana                       False
Burkina Faso                   False
Cabo Verde                     False
Cameroon                       False
Central African Republic       False
Chad                           False
Comoros                        False
Congo                          False
Côte d'Ivoire                  False
Djibouti                       False
Egypt                          False
Eswatini                       False
Ethiopia                       False
Ethiopia PDR                   False
Gabon                          False
Gambia                         False
Ghana                          False
Guinea                         False
Guinea-Bissau                  False
Kenya                          False
Lesotho                        False
Liberia                        False
Madagascar                     False
Malawi                         False
Mali                           False
Mauritania                     False
Mauritius                      False
Morocco                        False
Mozambique                     False
Namibia                        False
Niger                          False
Nigeria                         True
Rwanda                         False
Sao Tome and Principe          False
Senegal                        False
Seychelles                     False
Sierra Leone                   False
South Africa                   False
Sudan                          False
Sudan (former)                 False
Togo                           False
Tunisia                        False
Uganda                         False
United Republic of Tanzania    False
Zambia                         False
Zimbabwe                       False
Name: Y2017, dtype: bool
The Country with the highest is : Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

In [36]:

#Given the following numpy array
import numpy as np
arr  = np.array([[94, 89, 63],[93, 92, 48],[92, 94, 56]])

#How would you select  the elements in bold and italics from the array?
              #[89,63],[92,48]


arr[:2, 1:]

array([[89, 63],
       [92, 48]])

In [39]:

#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
yt = df_food.describe()
yt

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [43]:
print("Standard Deviation for 2017 is :", round(df_food['Y2017'].std(),2))
print("Mean for 2017 is :", round(df_food['Y2017'].mean(),2))

Standard Deviation for 2017 is : 1671.86
Mean for 2017 is : 140.92

In [48]:

#Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
pro2017 = df_food.groupby("Element").get_group("Processing")
print("List of all the Processing Element are ;", pro2017)
print("Sum of the Processing for the Year 2017 is :", pro2017["Y2017"].sum())

List of all the Processing Element are ;        Area Code      Area  Item Code                      Item  Element Code  \
19             4   Algeria       2905  Cereals - Excluding Beer          5131
35             4   Algeria       2511        Wheat and products          5131
51             4   Algeria       2805         Rice and products          5131
66             4   Algeria       2513       Barley and products          5131
81             4   Algeria       2514        Maize and products          5131
...          ...       ...        ...                       ...           ...
60694        181  Zimbabwe       2946               Animal fats          5131
60717        181  Zimbabwe       2743                     Cream          5131
60730        181  Zimbabwe       2737        Fats, Animals, Raw          5131
60789        181  Zimbabwe       2948   Milk - Excluding Butter          5131
60803        181  Zimbabwe       2848   Milk - Excluding Butter          5131

          Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
19     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
35     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
51     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
66     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
81     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
...           ...          ...    ...    ...    ...    ...    ...
60694  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60717  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60730  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60789  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0
60803  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0

[2010 rows x 12 columns]
Sum of the Processing for the Year 2017 is : 292836.0

In [54]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
Low_2017 = df_food.groupby("Area")["Y2017"].sum()
L27 = Low_2017.sort_values(ascending=True) #sorting the values accordingly
L27.head(10) #listing the sorted values accordingly

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Lesotho                  21267.96
Botswana                 22101.30
Djibouti                 22729.91
Name: Y2017, dtype: float64